
@{
    ViewBag.Title = "Index";
}

<!-- slider Area Start-->
<div class="slider-area ">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="@Url.Content("~/Content/assets/img/hero/br.jpg")">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1 style="color:black";>FIND A BETTER WAY TO WORK</h1>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <!
            </div>
        </div>
    </div>
</div> 


            




<!-- slider Area End-->
<!-- Our Services Start -->
<div class="our-services section-pad-t30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">
                    <h2>Top Categories </h2>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-contnet-center">
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    
                    <div class="services-cap">

                        <img src="~/Content/assets/img/gif/cloud.gif" alt="Cloud Icon" style="width: 100px; height: 100px;">
                        <h5>Cloud Computing</h5>          
                      
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/ML.gif" alt="Machine Learning" style="width: 100px; height: 100px;">
                        <h5>Machine Learning</h5>
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/app dev.gif" alt="App Developer" style="width: 100px; height: 100px;">
                        <h5>App Developer</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">

                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/ES.gif" alt="Embedded Systems" style="width: 100px; height: 100px;">
                        <h5>Embedded Systems</h5>
                       
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
              
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/digital marketing.gif" alt="Digital Marketing" style="width: 100px; height: 100px;">
                        <h5>Digital Marketing</h5>
                
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/testing.gif" alt="Testing" style="width: 100px; height: 100px;">
                        <h5>Testing</h5>
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/content.gif" alt="Content Writer" style="width: 100px; height: 100px;">
                        <h5>Content Writer</h5>
            
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                <div class="single-services text-center mb-30">
                    <div class="services-cap">
                        <img src="~/Content/assets/img/gif/Web dev.gif" alt="Web Developer" style="width: 100px; height: 100px;">
                        <h5>Web Developer</h5>
                     
                    </div>
                </div>
            </div>
        </div>
            </div>
</div>
<!-- Our Services End -->
<!-- Online CV Area Start -->
<div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="@Url.Content("~/Content/assets/img/gallery/2bg.jpg")">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="cv-caption text-center">
                    <p style="text-decoration-style:solid;font-style:italic;" class="pera2">The Best Time For New Beginnings Is Now</p>
                    <a href="@Url.Action("Login", "User")" class="border-btn2 border-btn4">Search With Us</a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Online CV Area End-->
<!-- Featured_job_start -->
<section class="featured-job-area feature-padding">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center">

                    <h2>Featured Jobs</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                         <a href="job_details.html"><img src="~/Content/assets/img/icon/mphasis.jpeg" alt="" style="width: 60px; height: 60px;"></a>

                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html"><h4>Mphasis</h4></a>
                            <ul>
                                <li>Developer</li>
                                <li><i class="fas fa-map-marker-alt"></i>Bangalore</li>
                                <li>35K-50K</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Full Time</a>
                        <span>1 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"><img src="~/Content/assets/img/icon/amazon (2).png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html"><h4>Amazon</h4></a>
                            <ul>
                                <li>AWS Devops</li>
                                <li><i class="fas fa-map-marker-alt"></i>Mumbai</li>
                                <li>50K-80K</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Full Time</a>
                        <span>5 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"><img src="~/Content/assets/img/icon/google.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html"><h4>Google</h4></a>
                            <ul>
                                <li>Cloud Engineer</li>
                                <li><i class="fas fa-map-marker-alt"></i>Delhi</li>
                                <li>25K-35K</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Intern</a>
                        <span>18 hours ago</span>
                    </div>
                </div>
                <!-- single-job-content -->
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href="job_details.html"><img src="~/Content/assets/img/icon/Ms.png" alt=""></a>
                        </div>
                        <div class="job-tittle">
                            <a href="job_details.html"><h4>Microsoft</h4></a>
                            <ul>
                                <li>Digital Marketing</li>
                                <li><i class="fas fa-map-marker-alt"></i>Gujarath</li>
                                <li>20K-25K</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        <a href="job_details.html">Part Time</a>
                        <span>1 day ago</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured_job_end -->
<!-- How  Apply Process Start-->
<div class="apply-process-area apply-bg pt-150 pb-150" data-background="@Url.Content("~/Content/assets/img/gallery/BG2.jpg")">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle white-text text-center">

                    <h2> How it works</h2>
                </div>
            </div>
        </div>
        <!-- Apply Process Caption -->
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-search"></span>
                    </div>
                    <div class="process-cap">
                        <h5>1. Search a job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-curriculum-vitae"></span>
                    </div>
                    <div class="process-cap">
                        <h5>2. Apply for job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-process text-center mb-30">
                    <div class="process-ion">
                        <span class="flaticon-tour"></span>
                    </div>
                    <div class="process-cap">
                        <h5>3. Get your job</h5>
                        <p>Sorem spsum dolor sit amsectetur adipisclit, seddo eiusmod tempor incididunt ut laborea.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- How  Apply Process End-->
<!-- Testimonial Start -->
<div class="testimonial-area testimonial-padding">
    <div class="container">
        <!-- Testimonial contents -->
        <div class="row d-flex justify-content-center">
            <div class="col-xl-8 col-lg-8 col-md-10">
                <div class="h1-testimonial-active dot-style">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="~/Content/assets/img/testmonial/Nitin_Rakesh.jpg" alt="" style="width: 150px; height: 150px; border-radius: 50%;">
                                    <span>NITHIN RAKESH</span>
                                    <p>CEO Of Mphasis</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>“AI Will Not Replace Humans,AI Will Replace Humans Who Don't Use It”</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="~/Content/assets/img/testmonial/mark4.jpg" alt="" style="width: 150px; height: 150px; border-radius: 50%;">
                                    <span>MARK ZUKERBERG</span>
                                    <p>CEO Of Facebook</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                             <p> “The Biggest Risk Is Not Taking Any Risk... In A World That Is Changing Really Quickly, The Only Strategy That Is Guaranteed To Fail Is Not Taking Risks. Move Fast And Break Things."</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial text-center">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <!-- founder -->
                            <div class="testimonial-founder  ">
                                <div class="founder-img mb-30">
                                    <img src="~/Content/assets/img/testmonial/sundar-pichai.jpg" alt="" style="width: 150px; height: 150px; border-radius: 50%;">

                                    <span>SUNDAR PICHAI</span>
                                    <p>CEO Of Google</p>
                                </div>
                            </div>
                            <div class="testimonial-top-cap">
                                <p>"The Right Moral Compass Is Trying Hard To Think About What Customers Want" </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Support Company Start-->
<div class="support-company-area support-padding fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="right-caption">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2">
                        <h2>Get Matched With A Job You Love</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">
                            Changing careers is a big step to take! But with your passion and motivation, and the rigorously practical, fully mentored learning experience of our career change programs – we’re confident that you can build a career you love.</p>
                        <p>The aim of everything we do is to equip you with the skills and experience you’ll need to build your dream career – and we know it works! As a CareerFoundry student, you’ll develop a professional portfolio with 1:1 mentorship, gain a specialized skillset, and refine your job search strategy and skills through personalized career coaching and support.</p>
            
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="support-location-img">
                    <img src="~/Content/assets/img/service/girl.jpg" alt="" style="width: 400px; height: auto;">

                </div>
            </div>
        </div>
    </div>
</div>
    